title = "Charts"
^L
{% extends templates/about.html %}
{% block page %}
<style>
    .chart-wrapper {
        width: 480px;
        float: left;
    }
    H2 {
        padding-top: 12pt;
    }
    .chart {
        position: relative;
        height: 130px;
    }
    .note {
        font-style: italic;
        font-size: 8pt;
        line-height: 10pt;
        padding-bottom: 12pt;
    }
    .label {
      text-align: center;
      font: normal 7pt/7pt "Lucida Mono", Monaco, monospace;
    }
    rect.bar {
      fill: #2A8F79;
      stroke: 0px;
      shape-rendering: crispEdges;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .flag {
      fill: white;
      stroke: #614C3E;
      stroke-width: 2px;
      shape-rendering: crispEdges;
    }
    .flagtext {
      font: normal 7pt/7pt "Lucida Mono", Monaco, monospace;
    }
    .tick {
      stroke: #614C3E;
      stroke-width: 1px;
    }
    .ticktext {
      font: normal 7pt/7pt "Lucida Mono", Monaco, monospace;
    }
</style>

<div class="chart-wrapper">
    <a name="users"></a>
    <h2>Users</h2>
    <p class="note">Anyone who's ever created an account on Gittip</p>
    <div class="chart" id="users-"></div>
    <div class="label">weeks</div>
</div>

<div class="chart-wrapper">
    <a name="funders"></a>
    <h2>Funders</h2>
    <p class="note">People who gave money to other people within Gittip</p>
    <div class="chart" id="funders-"></div>
    <div class="label">weeks</div>
</div>

<div class="chart-wrapper">
    <a name="gifts"></a>
    <h2>Gifts ($)</h2>
    <p class="note">Money transferred within Gittip</p>
    <div class="chart" id="volume-"></div>
    <div class="label">weeks</div>
</div>

<div class="chart-wrapper">
    <a name="cumulative-gifts"></a>
    <h2>Cumulative Gifts ($)</h2>
    <p class="note">Money transferred within Gittip (cumulative)</p>
    <div class="chart" id="cumulative-"></div>
    <div class="label">weeks</div>
</div>

<div class="chart-wrapper newline">
    <a name="charges"></a>
    <h2>Charges ($)</h2>
    <p class="note">Money moved into Gittip via credit card<br /> (minimum
    charge <a
        href="http://blog.gittip.com/post/28158537529/why-were-you-charged-10">upped</a>
    to $10 in week 8)</p>
    <div class="chart" id="charges-"></div>
    <div class="label">weeks</div>
</div>

<div class="chart-wrapper">
    <a name="withdrawals"></a>
    <h2>Withdrawals ($)</h2>

    <p class="note">Money withdrawn from Gittip to a bank account<br />(feature <a
        href="http://blog.gittip.com/post/30116848405/with-payouts-gittip-is-minimally-viable">added</a>
    in week 12)</p>

    <div class="chart" id="withdrawals-"></div>
    <div class="label">weeks</div>
</div>

<script src="http://d3js.org/d3.v3.js"></script>
<script>
    $(document).ready(function()
    {
        var outerHeight = 130;
        var outerWidth  = 480;

        var margin = { top: 22, right: 36, bottom:12 , left: 3 };
        var width = outerWidth - margin.right - margin.left;
        var height = outerHeight - margin.top - margin.bottom;


        // gnarly little function to generate a "flag" with two rounded corners.
        // See: http://www.w3.org/TR/SVG/shapes.html#RectElement for the steps to create the path
        // here we assume rx = ry = r and only apply curves to the right side
        // The effective width is width + r, the effective height is height + r + r
        function flagPath(width, height, r) {
          return "M 0 0 L " + width + " 0 A " + r + " " + r + " 0 0 1 " + 
              (width + r) + " " + r + " L " + (width + r) + " " + height + 
              "A " + r + " " + r + " 0 0 1 " + (width) + " " + (height + r ) + 
              " L 0 " + (height + r) + " Z"; 
        }

        function barChart(data, element, accessor) {
          var svg = d3.select(element).append("svg");
          svg.attr({
            width: outerWidth,
            height: outerHeight
          });

          var g = svg.append("g")
              .attr("transform","translate(" + margin.left + "," + margin.top + ")" );

          var xScale = d3.scale.ordinal()
              .rangeBands([0,width],0)
              .domain(data.map(function(d,i) {return i;} ));
          var yScale = d3.scale.linear()
              .domain([0,d3.max(data, function(d,i) { return accessor(d,i); })])
              .range([height,0]);

          var xAxis = d3.svg.axis()
              .scale(xScale)
              .tickValues([])
              .orient("bottom");
          var yAxis = d3.svg.axis()
              .scale(yScale)
              .ticks(0)
              .orient("left");

          var max = d3.max(data,accessor);

          var bars = g.append("g").selectAll(".bar")
              .data(data)
              .enter().append("rect")
              .classed("bar", true)
              .classed("max", function(d,i) { return accessor(d,i) === max ? true : false; })
              .attr("x", function(d,i) { return xScale(i); })
              .attr("width", xScale.rangeBand())
              .attr("y", function(d,i) { return yScale(accessor(d,i)); })
              .attr("height", function(d,i) { 
                return height - yScale(accessor(d,i)); 
              });

          var hoverBars = g.append("g").selectAll(".hoverbar")
              .data(data)
              .enter().append("rect")
              .classed("hoverbar", true)
              .attr("x",function(d,i) { return xScale(i); })
              .attr("width",xScale.rangeBand())
              .attr("y", 0)
              .style({
                opacity: 0
              })
              .attr("height", height);


          // now that we have g, make a flag creator
          function addFlag(d, i, klass) {
            var numLength = ("" + d3.round(accessor(d,i))).length;
            var flagWidth = numLength * 7; 
            var hoverFlag = g.append("g");
            hoverFlag.classed(klass, true);

            hoverFlag.append("path")
                .classed("flag", true)
                .attr("d",flagPath(flagWidth,12,3));

            var hoverTick = g.append("g");
            hoverTick.classed(klass,true);

            hoverTick.append("line")
                .classed("tick",true)
                .attr({
                  x1: 0,
                  y1: 0,
                  x2: 0,
                  y2: 12
                });
            hoverFlag.attr("transform","translate(" + [xScale(i) + 1,yScale(accessor(d,i)) - 20] + ")")
            hoverFlag.append("text")
                .classed("flagtext",true)
                .attr("transform","translate(3,11)")
                .text(d3.round(accessor(d,i)));
            hoverTick.attr("transform","translate(" + [xScale(i), height] + ")")
            hoverTick.append("text")
                .classed("ticktext",true)
                .attr("transform","translate(3,11)")
                .text(i);
          }

          // Add permanent flag on max, set up mouse events.
          bars.each(function(d,i) { 
            if (this.classList.contains("max")) {
              addFlag(d,i,"clicked-" + i);
            }
          });

          hoverBars.on("mouseover", function(d,i) {
            g.selectAll(".hover").remove();
            addFlag(d,i,"hover");
          });

          hoverBars.on("click",function(d,i) {
            var thisflag = g.selectAll(".clicked-" + i);
            if (thisflag[0].length > 0 ) { // existing flag, toggle off
              thisflag.remove()
            } else {
              addFlag(d,i,"clicked-" + i);
            }
          });

        }
        d3.json('https://www.gittip.com/about/paydays.json', function(paydays) {

            paydays.reverse(); // not sure why they're going backwards in time?
                               // TODO: make this a generic sort by start date.
            var transferTotal = 0;
            for(var i=0; i < paydays.length; i++) {
              transferTotal += paydays[i].transfer_volume;
              paydays[i].cumulative = transferTotal;
            }

            barChart(paydays, '#users-',      function(d,i) { return d.nparticipants } );
            barChart(paydays, '#funders-',    function(d,i) { return d.ntippers } );
            barChart(paydays, '#volume-',     function(d,i) { return d.transfer_volume } );
            barChart(paydays, '#cumulative-', function(d,i) { return d.cumulative } );
            barChart(paydays, '#charges-',    function(d,i) { return d.charge_volume; });
            barChart(paydays, '#withdrawals-',function(d,i) { return -d.ach_volume; });
        });
    });
</script>
{% end %}
