title = "Charts"
^L
{% extends templates/about.html %}
{% block page %}
<style>
    .chart-wrapper {
        width: 480px;
        float: left;
    }
    H2 {
        padding-top: 12pt;
    }
    .chart {
        position: relative;
        height: 100px;
    }
    .note {
        font-style: italic;
        font-size: 8pt;
        line-height: 10pt;
        padding-bottom: 12pt;
    }
    rect.bar {
      fill: #2A8F79;
      stroke: 0px;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .tooltip > text {
      fill: #666;
      stroke: #666;
      font-family: 'Lucida Mono', Monaco, monospace;
      font-size: 8pt;
    }
</style>

<div class="chart-wrapper">
    <a name="users"></a>
    <h2>Users</h2>
    <p class="note">Anyone who's ever created an account on Gittip</p>
    <div class="chart" id="users-"></div>
</div>

<div class="chart-wrapper">
    <a name="funders"></a>
    <h2>Funders</h2>
    <p class="note">People who gave money to other people within Gittip</p>
    <div class="chart" id="funders-"></div>
</div>

<div class="chart-wrapper">
    <a name="gifts"></a>
    <h2>Gifts ($)</h2>
    <p class="note">Money transferred within Gittip</p>
    <div class="chart" id="volume-"></div>
</div>

<div class="chart-wrapper">
    <a name="cumulative-gifts"></a>
    <h2>Cumulative Gifts ($)</h2>
    <p class="note">Money transferred within Gittip (cumulative)</p>
    <div class="chart" id="cumulative-"></div>
</div>

<div class="chart-wrapper newline">
    <a name="charges"></a>
    <h2>Charges ($)</h2>
    <p class="note">Money moved into Gittip via credit card<br /> (minimum
    charge <a
        href="http://blog.gittip.com/post/28158537529/why-were-you-charged-10">upped</a>
    to $10 in week 8)</p>
    <div class="chart" id="charges-"></div>
</div>

<div class="chart-wrapper">
    <a name="withdrawals"></a>
    <h2>Withdrawals ($)</h2>

    <p class="note">Money withdrawn from Gittip to a bank account<br />(feature <a
        href="http://blog.gittip.com/post/30116848405/with-payouts-gittip-is-minimally-viable">added</a>
    in week 12)</p>

    <div class="chart" id="withdrawals-"></div>
</div>

<script src="http://d3js.org/d3.v3.js"></script>
<script>
    $(document).ready(function()
    {
        var outerHeight = 100;
        var outerWidth  = 480;

        var margin = { top: 0, right: 20, bottom:20 , left: 0 };
        var width = outerWidth - margin.right - margin.left;
        var height = outerHeight - margin.top - margin.bottom;

        function barChart(data, element, accessor) {
          var svg = d3.select(element).append("svg");
          svg.attr({
            width: outerWidth,
            height: outerHeight
          });

          var g = svg.append("g")
              .attr("transform","translate(" + margin.left + "," + margin.top + ")" );

          var xScale = d3.scale.ordinal()
              .rangeRoundBands([0,width],0)
              .domain(data.map(function(d,i) {return i;} ));
          var yScale = d3.scale.linear()
              .domain([0,d3.max(data, function(d,i) { return accessor(d,i); })])
              .range([height,0]);

          var xAxis = d3.svg.axis()
              .scale(xScale)
              .tickValues([])
              .orient("bottom");
          var yAxis = d3.svg.axis()
              .scale(yScale)
              .ticks(0)
              .orient("left");

          var focus = g.append("g")
              .style("display","none")
              .attr("transform","translate(5,20)");

          var bars = g.append("g").selectAll(".bar")
              .data(data)
              .enter().append("rect")
              .classed("bar", true)
              .attr("x", function(d,i) { return xScale(i); })
              .attr("width", xScale.rangeBand())
              .attr("y", function(d,i) { return d3.round(yScale(accessor(d,i))); })
              .attr("height", function(d,i) { 
                return height - d3.round(yScale(accessor(d,i))); 
              });

              bars.on("mouseover", function() {
                focus.style("display",null);
                focus.append("text")
                  .text(d3.round(yScale.invert(d3.event.target.y.baseVal.value)))
                  .attr({
                    x: "0px",
                    y: "0px"
                  });
              });
              bars.on("mouseout", function() {
                focus.style("display","none");
                focus.select("text").remove()
              });
        }
        d3.json('https://www.gittip.com/about/paydays.json', function(paydays) {

            paydays.reverse(); // not sure why they're going backwards in time?
                               // TODO: make this a generic sort by start date.
            var transferTotal = 0;
            for(var i=0; i < paydays.length; i++) {
              transferTotal += paydays[i].transfer_volume;
              paydays[i].cumulative = transferTotal;
            }

            barChart(paydays, '#users-',      function(d,i) { return d.nparticipants } );
            barChart(paydays, '#funders-',    function(d,i) { return d.ntippers } );
            barChart(paydays, '#volume-',     function(d,i) { return d.transfer_volume } );
            barChart(paydays, '#cumulative-', function(d,i) { return d.cumulative } );
            barChart(paydays, '#charges-',    function(d,i) { return d.charge_volume; });
            barChart(paydays, '#withdrawals-',function(d,i) { return -d.ach_volume; });
        });
    });
</script>
{% end %}
