title = "About"
^L
{% extends templates/about.html %}
{% block page %}
<div class="col">
    <div class="block-cont">
        <h2>What Is Gittip?</h2>

        <div class="grid-container">
            <div class="grid">
                <dl>
                    <dt>Giving</dt>
                    <dd>
                        Gittip lets you give <b>small weekly cash gifts</b> to people you
                        love and are inspired by, and people who make things that you use.
                    </dd>
                </dl>
            </div>

            <div class="grid">
                <dl>
                    <dt>Recurring</dt>
                    <dd>
                        Gifts are <b>weekly</b>. The intention is for people to depend on money
                        received through Gittip in order to pay their bills, and bills are
                        recurring.
                    </dd>
                </dl>
            </div>

            <div class="grid">
                <dl>
                    <dt>Unrestricted</dt>
                    <dd>
                        Gifts come with <b>no strings attached</b>. You don't know exactly where
                        your gifts come from, and the maximum gift from one person to another is
                        $100 per week.
                    </dd>
                </dl>
            </div>

            <div class="grid">
                <dl>
                    <dt>Public</dt>
                    <dd>
                        The <b>total</b> amount you give and the
                        <b>total</b> amount you receive is public. Participants on both sides of
                        the equation are rewarded publicly for their participation. (You can opt
                        out of publicly displaying your total giving.)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="col">
    <a name="who"></a>
    <h2>Who is Gittip for?</h2>
    <p>All kinds of people!</p>
    <h3>Patrons:</h3>
    <p>You are supporter of great work. <a href="/for/patrons">Find out more</a> about how to give gifts.
    <h3>Companies</h3>
    <p>You use things that people out in the world make. <a href="/for/companies">Discover</a> how to help them make more things.
    <h3>Open Source Contributors</h3>
    <p>Let people know that they can help fund your work. <a href="/for/open-source">See how to gather support</a>.</p>
    

</div>
<div class="col2">

    <a name="get-involved"></a>
    <h2>Get Involved</h2>

    <p>We're building Gittip openly and in public, and you're welcome to join
    us. Here is how to get involved:</p>
    
    <ul>

        <li><b>Newsletter</b>. The best way to get involved is to <a
            href="https://tinyletter.com/gittip">subscribe to our
            newsletter</a>. This goes out about once a week and summarizes all
        of the activity going on in the Gittip community. From there you'll be
        able to identify projects that are a good fit for you and get involved
        further. You can view past newsletters in this <a
            href="https://tinyletter.com/gittip/letters">archive</a>.</li>

        <li>

        <li><b>GitHub</b> (different than Gittip!) is a <a
            href="https://github.com/gittip">collaboration platform</a> used by
        the software teams within Gittip. Anyone can register an account there
        and participate in discussions on any issues related to the software
        side of Gittip.</li>

        <li><b>Freenode</b> is an internet relay chat (IRC) network. It's for
        online chatrooms. We hang out in the <a
            href="irc://irc.freenode.net:6697/#gittip">#gittip</a> channel. You
        can <a href="http://webchat.freenode.net/?channels=gittip">join</a> in
        using your web browser, and there's a read-only <a
            href="https://botbot.me/freenode/gittip/">archive</a>.</li>

    </ul>

    <p>We also use Skype and Google Hangouts to talk by voice and/or video. Our
    Freenode chatroom is the launching place for these conversations.</p>


    <a name="contact-us"></a>
    <h2>Contact Us</h2>

    <p>GitHub and Freenode are great ways to get in touch (see just above).
    You're also welcome to contact Gittip's founder, <a
        href="/whit537/">Chad Whitacre</a>, via <a
        href="https://twitter.com/whit537">@whit537</a> or <a
        href="mailto:chad@zetaweb.com">email</a> or by phone at <a
    href="tel:+1-412-925-4220">+1-412-925-4220</a>, or visit him at 
    716 Park Road in Ambridge, PA, 15003, USA.</p>

</div>
{% end %}
